body {
    margin: 0;
}

.container {
    position: relative;
    height: 100vh;
    background-color: #121212;
}

.btn-group {
    position: absolute;
    top: 20px;
    right: 20px;
}

.btn-group>button {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #fff;
    cursor: pointer;
}

.active {
    color: blue;
}

.time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
}

.clock {
    position: relative;
    width: 500px;
    height: 500px;
    border: 5px solid #fff;
    border-radius: 50%;
}

.hours {
    /* position: relative; */
    font-size: 36px;
}

#wrapper12 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    /* transform: rotate(360deg); */
}
#wrapper1 {
    position: absolute;
    top: 35px;
    left: 70%;
    transform: rotate(30deg);
}
#wrapper2 {
    position: absolute;
    top: 120px;
    left: 88%;
    transform: rotate(60deg);
}
#wrapper3 {
    position: absolute;
    top: 50%;
    right: 10px;
    /* transform: rotate(90deg); */
    transform: translate(0%, -50%);

}
#wrapper4 {
    position: absolute;
    bottom: 120px;
    left: 88%;
    transform: rotate(120deg);
}
#wrapper5 {
    position: absolute;
    bottom: 35px;
    left: 70%;
    transform: rotate(150deg);
}
#wrapper6 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);

}
#wrapper7 {
    position: absolute;
    bottom: 35px;
    right: 70%;
    transform: rotate(210deg);
}
#wrapper8 {
    position: absolute;
    bottom: 120px;
    right: 88%;
    transform: rotate(240deg);
}
#wrapper9 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0%, -50%);

}
#wrapper10 {
    position:absolute;
    top: 120px;
    right: 86%;
    transform: rotate(300deg);
}
#wrapper11 {
    position: absolute;
    top: 35px;
    right: 70%;
    transform: rotate(330deg);
}

#hr1 {
    transform: rotate(-30deg);
}
#hr2 {
    transform: rotate(-60deg);
}
#hr4 {
    transform: rotate(-120deg);
}
#hr5 {
    transform: rotate(-150deg);
}
#hr7 {
    transform: rotate(-210deg);
}
#hr8 {
    transform: rotate(-240deg);
}
#hr10 {
    transform: rotate(-300deg);
}
#hr11 {
    transform: rotate(-330deg);
}

.rotation-point {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}

.hour-hand {
    position: absolute;
    bottom: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    transform-origin: 100% 100%;
    width: 5px;
    height: 120px;
    background-color: #fff;
}

.min-hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    transform-origin: 100% 100%;
    width: 5px;
    height: 180px;
    background-color: #fff;
}

.second-hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 1px;
    height: 210px;
    background-color: #fff;
    transform-origin: 100% 100%;
    /* animation: spin 60s linear infinite; */
    outline: 1px solid transparent;
}

/* @keyframes spin {
    100% {
        transform: rotate(360deg);
    }
} */